@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Home</h1>
    <p class="lead">Esta es la página de home</p>
    <p><a href="http://inscripciones.ungs.edu.ar" class="btn btn-primary btn-lg">UNGS Guaraní &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Sección 1</h2>
        <p>
            Esto es una sección
        </p>
    </div>
    <div class="col-md-4">
        <h2>Sección 2</h2>
        <p>Esto es otra sección</p>
    </div>
    <div class="col-md-4">
        <h2>Sección 3</h2>
        <p>Otra sección mas.</p>
    </div>
</div>