@using Planificador.Models.ViewModels;
@model CursadaViewModel
@{
    ViewBag.Title = "Cursada";
}
<!DOCTYPE html>
<html>
<head>
    <title>ools</title>
    <style>
        .text-center * {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>
        <h1> Programador de cursadas </h1>

        <div></div>
        <table class="table table-bordered table-inverse text-center">
            <thead>
                <tr>
                    <th>Materia</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var Materia in Model.Materias)
                    {
                        <tr>
                            <td scope="row">@Materia.Nombre</td>
                            @*<table class="table table-bordered table-inverse text-center">
                                    <thead>
                                        <tr>
                                            <th>Horarios</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @{
                                            foreach (var Horario in Materia.Horarios)
                                            {
                                                <tr>
                                                    <td scope="row">@Horario.Turno</td>
                                                </tr>
                                            }
                                        }
                                    </tbody>
                                </table>*@
                        </tr>
                    }
                }
            </tbody>
        </table>
        @using (Html.BeginForm("Index", "Cursada", FormMethod.Post))
        {
	        <label>Ingrese su Nombre</label>
            <input id="nombreAlumno" type="text" name="nombreAlumno" value="" />
            <input type="submit" />
        }
    </div>
</body>
</html>
